<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ff.zunfix.common.security.mapper.SysRoleMapper">

	<select id="getById" resultType="cn.ff.zunfix.common.core.entity.SysRole">
		select * from sys_role where id = #{id} and del_flag = '0'
	</select>

	<select id="getByUserId" resultType="cn.ff.zunfix.common.core.entity.SysRole">
		select r.* from sys_user u
							left join sys_user_role_rel ur on u.id = ur.user_id
							left join sys_role r on ur.role_id = r.id
		where u.id = #{userName} and u.del_flag = '0'
	</select>

</mapper>
